*.sh
*.d.ts
*.md
*.woff
*.ttf
/public
/docs
/bin
node_modules
dist
coverage
Dockerfile
.cz-config.js
.vscode
.idea
.husky
.local
.yarn
.env
.env.development
.env.development.local
.env.production
.env.production.local
